html{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: lightgray;
    border: solid;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    display: flex;
    align-items: center;
}

div{
    background-color: lightslategray;
    border: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
}

buttons{
    background-color: lightyellow;
    border: solid;
    border-width: 1px;
    border-color: darkgoldenrod;
    border-radius: 5px;
    text-align: center;
}




