html{
    background-color: bisque;
}

div{
    background-color: lightblue;
}

buttons{
    background-color: lightcyan;
    border: solid;
    border-color: lightseagreen;
    border-radius: 3px;
    display: flex;
}