html{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 25%;
    margin-bottom:25%;
}

screen{
    background-color:#7E897E  ;
    background-image: linear-gradient(#7E897E ,#A0B6A0  );
    border: solid;
    border-radius: 5px;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
    text-align: right;
    font-size: 20px;
}

buttons{
    background-color: #CBD4CB  ;
    text-align: center;
    height: 60%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    

}
buttons:hover{
    background-color:#8C8D8C ;
}

.row1{
    background-color: #8C8D8C ;
}
.row2{
    background-color: #8C8D8C ;
}
.row3{
    background-color: #8C8D8C ;
}
.row4{
    background-color:#8C8D8C ;
}
.row5{
    background-color: #8C8D8C ;
}
